@import 'variables';

button {
    width: 100%;
    border: 0;
    font-weight: 600;
    font-size: 0.8rem;
    border-radius: 5px;
    text-align: left;
    padding: 10px 0 10px 20px;

    background: transparent;
    color: $color-primary;

    cursor: pointer;

    span {
        overflow: hidden;
        text-overflow: ellipsis;
        width: 150px;
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    &.select {
        background: $color-primary;
        color: $color-secundary;
    }
}

