@import 'variables';

.login-container {
    background: #222;
    position: absolute;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .login-logo {
        display: flex;
        justify-content: center;

        img {
            width: 40%;
        }
    }

    .login-button {
        display: flex;
        justify-content: center;
        
        button {
            font-size: 1.8rem;
            min-width: 20rem;
            padding: 1rem 2rem;
            border-radius: 5rem;
            border: none;
            color: #FFF;
            cursor: pointer;
            background: $color-primary;
            
            &:active {
                position: relative;
                top: 2px;
            }
        }
    }
}