:host {

    .rightPanel-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100vh;
        max-width: 30rem;
        padding: 4rem 0 2rem;

        .rightPanel-topArtists {
            flex-grow: 1;
        }

        .rightPanel-playerCard {
            flex-grow: 0;
        }
    }
}