@import 'variables';

.likedSong-container {
    width: 100%;
    display: flex;

    &:hover {
        cursor: pointer;

        span {
            color: $color-primary;
        }
    }

    fa-icon {
        color: $color-primary;
        font-size: 1rem;
        padding: 1rem 2rem 1rem 0;
    }

    span {
        display: flex;
        align-items: center;

        color: $color-lightBlack-80;
        font-weight: 600;
        font-size: 1rem;
        padding-right: 3rem;
    
        &:nth-child(4) {
            justify-content: end;
        }
    }


}