@import 'variables';

.item-container {
    display: flex;
    align-items: center;

    &:hover {
        background: $color-secundary;
    }

    .item-image {
        width: 3.5rem;
        max-height: 3.5rem;
        overflow: hidden;
        border-radius: 50%;

        img {
            width: 100%;
            height: 100%;
            flex-grow: 0;
        }
    }

    h2 {
        color: $color-lightBlack-80;
        font-weight: 700;
        font-size: 1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 2rem;
        width: 12rem;
        text-transform: uppercase;
    }
}